footer {
  background-color: #4a4a4a;
  padding: 10px 0px;
  clear: both;
  height: 110px;
  .socialIcons {
    font-size: 3rem;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
    i {
      padding: 10px 10px;
      color: $purple;
      transition: transform 0.5s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  .createdBy {
    p {
      text-align: center;
      color: $white;
      padding-bottom: 10px;
      margin: 0;
      text-transform: uppercase;
      font-size: 1rem;
    }
  }
}

///////////////////////////////////////////////
// RESULTS MEDIA QUERIES
///////////////////////////////////////////////

/* Landscape phones and down */
@media (max-width: 480px) {
  footer p {
    font-size: 1.2rem;
  }
}
