.formContainer {
  width: 100%;
  .form {
    width: 40%;
    height: 300px;
    margin-bottom: 100px;
    float: left;
    background-color: lightgrey;
    // box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    .formWrapper {
      width: 360px;
      float: right;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      form {
        .filters {
          width: 360px;
          fieldset {
            // float: left;
            border: none;
            padding: 0;
            margin-bottom: 10px;
            h3 {
              margin: 0 0 15px 0;
              color: $grey;
            }
            ul {
              list-style-type: none;
              padding: 0;
              margin-bottom: 15px;
              li {
                display: inline;
                margin-right: 20px;
                //label
                .radio {
                  color: $grey;
                  position: relative;
                  //label
                  span {
                    position: relative;
                    padding: 5px 0 0 30px;
                  }
                  //radio area
                  span:after {
                    content: "";
                    width: 20px;
                    height: 20px;
                    border: 3px solid;
                    position: absolute;
                    left: 0;
                    top: 1px;
                    border-radius: 100%;
                  }
                  //make original radio buttons transparent
                  input[type="radio"] {
                    cursor: pointer;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    opacity: 0;
                  }
                }
              }
            }
          }
        }
      }
      .filterBtn {
        margin-top: 10px;

        background-color: $grey;
        border: 2px solid $grey;
        color: $white;
        &:hover {
          background-color: transparent;
          color: $grey;
        }
      }
    }
  }
  .formQuote {
    width: 60%;
    float: right;
    height: 300px;
    // box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: $grey;
    // background-image: url(./assets/friendsWine.jpg);
    // background-position: 50% 25%;
    // background-repeat: no-repeat;
    // background-size: cover;
    .formQuoteScreen {
      height: 300px;
      // background-color: rgba(0, 0, 0, 0.2);
      .quote {
        max-width: 720px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2.8rem;
        padding: 100px;
        color: $purple;
      }
    }
  }
}

// button circle and label
.radio input[type="radio"]:checked + span {
  color: $grey;
}

// clicked circle in button
.radio input[type="radio"]:checked + span:before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  background: $green;
  left: 7px;
  top: 8px;
  border-radius: 100%;
}

// .slider {
//     -webkit-appearance: none;
//     width: 100%;
//     height: 25px;
//     background: #d3d3d3;
//     outline: none;
//     opacity: 0.7;
//     -webkit-transition: .2s;
//     transition: opacity .2s;
// }

// .slider:hover {
//     opacity: 1;
// }

// .slider::-webkit-slider-thumb {
//     -webkit-appearance: none;
//     appearance: none;
//     width: 25px;
//     height: 25px;
//     background: #4CAF50;
//     cursor: pointer;
// }

// .slider::-moz-range-thumb {
//     width: 25px;
//     height: 25px;
//     background: #4CAF50;
//     cursor: pointer;
// }

// .priceRangeSelect,
// .slidecontainer {
//     width: 100%; /* Width of the outside container */
// }

///////////////////////////////////////////////
// FORM MEDIA QUERIES
///////////////////////////////////////////////

@media (max-width: 1080px) {
  .formContainer .form,
  .formContainer .formQuote {
    width: 50%;
  }

  .formContainer .form .formWrapper {
    max-width: 540px;
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .formContainer .formQuote {
    display: none;
  }
  .formContainer .form {
    width: 100%;
  }
  .formContainer .form .formWrapper {
    max-width: 80%;
    width: 80%;
    float: none;
    margin: 0 auto;
    text-align: center;
    form {
      text-align: center;
      margin: 0 auto;
      .filters {
        // width:310px;
        text-align: center;
        margin: 0 auto;
        fieldset {
          text-align: center;
        }
      }
    }
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .formContainer .form .formWrapper {
    width: 310px;
    float: none;
    margin: 0 auto;
    text-align: center;
    form {
      text-align: center;
      margin: 0 auto;
      .filters {
        width: 250px;
        text-align: center;
        margin: 0 auto;
        fieldset {
          text-align: center;
          h3 {
            margin: 0 0 15px 0;
            color: $grey;
          }
          ul {
            li {
              margin-right: 15px;
              //label
              .radio {
                color: $grey;
                position: relative;
                //label
                span {
                  position: relative;
                  padding: 2px 0 0 18px;
                }
                //radio area
                span:after {
                  content: "";
                  width: 15px;
                  height: 15px;
                  border: 3px solid;
                  position: absolute;
                  left: 0;
                  top: 1px;
                  border-radius: 100%;
                }
              }
            }
          }
        }
      }
    }
  }

  // clicked circle in button
  .radio input[type="radio"]:checked + span:before {
    content: "";
    width: 11px;
    height: 11px;
    position: absolute;
    background: $green;
    left: 5px;
    top: 6px;
    border-radius: 100%;
  }
}
