// colours //
$green: #0b664c;
$teal: #a1d1ce;
$purple: #dd9afc;
$white: #ffffff;
$grey: #4a4a4a;

html {
  font-size: 62.5%;
}

img{
display:block;
width:100%;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

///////////////////////////////////////////////
//GLOBAL MEDIA QUERIES
///////////////////////////////////////////////


@media (max-width: 1080px) {
  .wrapper {
    max-width: 930px;
    margin: 0 auto;
}
}

@media (max-width: 940px) {
  .wrapper {
    max-width: 758px;
    margin: 0 auto;
}
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 470px;
    margin: 0 auto;
}
}

@media (max-width: 480px) {
  .wrapper {
    max-width: 450px;
    margin: 0 auto
}
}

@media (max-width: 350px) {
  .wrapper {
    max-width: 300px;
    margin: 0 auto
}
}