.results,
.savedList {
  margin: 0 auto;
  padding: 40px;
  clear: both;
  min-height: calc(100vh - 110px);
  // height: 70vh;
  text-align: center;
  .btn {
    margin:25px;
  }
  .wrapper {
    // margin: 0px auto;
    .sale {
      position: absolute;
      background-color: $purple;
      color: white;
      text-transform: uppercase;
      border-radius: 50%;
      font-size: 12px;
      padding: 13px 7px;
      top: -20px;
      left: -10px;
    }
    .card {
      float: left;
      width: calc(33% - 2%);
      margin: 1%;
      border: $grey solid 1px;
      border-radius: 2px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
      }
      .cardWrapper {
        text-align: left;
        position: relative;
        .imageWrapper {
          float: left;
          width: 45%;
        }
        .btn {
          margin: 20px 0;
        }
        .cardSide {
          float: left;
          width: calc(55% - 4%);
          // margin:2% 2%;
          height: 100%;
          padding: 0 0 0 8px;
          .wineTitle {
            h3 {
              display: block;
              // display: -webkit-box;
              max-width: 100%;
              height: calc((3 * 2rem) + 0.8rem);
              margin: 10px auto;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              text-overflow: ellipsis;
              overflow: hidden;
              color: $grey;
            }
          }
          .winePriceWrapper {
            // position: absolute;
            // bottom:10%;
            .winePrice {
              color: $grey;
              font-size: 1.8rem;
              margin: 0;
              span {
                font-size: 70%;
              }
            }
          }
        }
      }
    }
  }
}
.savedList {
  .savedListBtns {
    position: absolute;
    bottom: 10px;
  }
}
.cellarBtn {
  margin-top: 5px;
  padding: 8px;
}

.myCellar {
  color: $grey;
}

///////////////////////////////////////////////
// RESULTS MEDIA QUERIES
///////////////////////////////////////////////

@media (max-width: 1080px) {
  .results .wrapper .card {
    width: calc(50% - 2%);
    margin: 1%;
  }

  .savedList .wrapper .card {
    width: calc(50% - 2%);
    margin: 1%;
  }

  .results .wrapper .card .cardWrapper .cardSide .wineTitle h3 {
    font-size: 2.5rem;
    height: calc((4 * 2.5rem) + 1.1rem);
    -webkit-line-clamp: 4;
  }

  .savedList .wrapper .card .cardWrapper .cardSide .wineTitle h3 {
    font-size: 2.5rem;
    height: calc((4 * 2.5rem) + 1rem);
    -webkit-line-clamp: 4;
  }

  .savedList {
    .savedListBtns {
      bottom: 22px;
    }
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .results .wrapper .card .cardWrapper .cardSide .wineTitle h3 {
    font-size: 2.3rem;
    height: calc((3 * 2.3rem) + 1.1rem);
    -webkit-line-clamp: 3;
  }
  .savedList .wrapper .card .cardWrapper .cardSide .wineTitle h3 {
    font-size: 2.3rem;
    height: calc((3 * 2.3rem) + 0.9rem);
    -webkit-line-clamp: 3;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .results .wrapper {
    margin: 0 auto;
    .card {
      float: none;
      width: 400px;
      max-width: 400px;
      margin: 20px auto;
    }
  }
  .savedList .wrapper {
    margin: 0 auto;
    .card {
      float: none;
      width: 400px;
      max-width: 400px;
      margin: 20px auto;
    }
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .results {
    padding: 0;
  }

  .savedList {
    padding: 0;
  }

  .results .wrapper .card {
    width: 295px;
    max-width: 400px;
  }

  .savedList .wrapper .card {
    width: 295px;
    max-width: 400px;
  }

  .results .wrapper .card .cardWrapper .cardSide .wineTitle h3 {
    font-size: 2rem;
    height: calc((3 * 2rem) + 1.1rem);
    -webkit-line-clamp: 3;
  }

  .savedList .wrapper .card .cardWrapper .cardSide .wineTitle h3 {
    font-size: 1.8rem;
    height: calc((3 * 1.8rem) + 0.5rem);
    -webkit-line-clamp: 3;
  }

  .savedList {
    .savedListBtns {
      bottom: 12px;
    }
  }
}
