// google fonts //
@import url("https://fonts.googleapis.com/css?family=Lora:700|Oxygen:400,700");

// font mixins //
@mixin headingFont($fontSize) {
  font-size: $fontSize;
  font-family: "Lora", monospace;
}

@mixin bodyFont($fontSize) {
  font-size: $fontSize;
  font-family: "Oxygen", monospace;
}

@mixin lineHeight($lineHeight) {
  line-height: $lineHeight;
}

// headings //
h1 {
  @include bodyFont(4rem);
}

h2 {
  @include headingFont(6rem);
  @include lineHeight(1);
}

h3 {
  @include headingFont(2rem);
  @include lineHeight(1.2);
}

p {
  @include bodyFont(1.6rem);
  color: $grey;
}

.btn {
  @include bodyFont(1.4rem);
  text-transform: uppercase;
}
