// google fonts //
@import url("https://fonts.googleapis.com/css?family=Lora:700|Oxygen:400,700");

// font mixins //
@mixin headingFont($fontSize) {
  font-size: $fontSize;
  font-family: "Lora", monospace;
}

@mixin bodyFont($fontSize) {
  font-size: $fontSize;
  font-family: "Oxygen", monospace;
}

@mixin lineHeight($lineHeight) {
  line-height: $lineHeight;
}

@mixin cardTitle($minPxFontSize, $maxPxFontSize, $minVpPx, $maxVpPx) {
  // font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  // font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
  // font-size: calc($minPxFontSize + ($maxPxFontSize - $minPxFontSize) * ((100vw - $minVpPx) / (2080px - $minVpPx)));
}

// headings //
h1 {
  @include bodyFont(4rem);
}

h2 {
  @include headingFont(6rem);
  @include lineHeight(1);
}

h3 {
  @include headingFont(2rem);
  @include lineHeight(1.2);
}

p {
  @include bodyFont(1.8rem);
}

.btn {
  @include bodyFont(1.4rem);
  text-transform: uppercase;
}
