.wineInfo {
  float: left;
  min-height: calc(100vh - 100px);
  width: 100%;
  header nav ul li p {
    color: $green;
  }
  .wrapper {
    clear: both;
    .locations {
      width: 75%;
      height: 40vh;
      clear: both;
      margin: 0 auto;
      .storeInfo {
        width: 33.3%;
        float: left;
        padding-bottom: 20px;
      }
    }

    .imageWrapper {
      float: left;
      width: 40%;

      img {
        display: block;
        width: 98%;
      }
    }

    .content {
      float: left;
      width: 60%;

      .contentWrapper {
        margin-top: 50px;
        h1 {
          font-family: "Lora", monospace;
          color: $grey;
          margin: 15px 0;
        }

        .priceWrapper {
          p {
            font-size: 3rem;
            margin: 0;

            .regular {
              margin-right: 25px;
              text-decoration: line-through;
              color: $purple;
            }
            .sale {
              color: $grey;
            }
            .bottle {
              font-size: 1.8rem;
            }
          }
        }

        p::first-letter {
          text-transform: uppercase;
        }

        .wineServingSuggestBox {
          border: $teal 2px solid;
          border-radius: 2px;
          position: relative;
          width: 450px;
          .wineServingSuggestTitle {
            font-size: 1rem;
            text-transform: uppercase;
            background-color: #fff;
            color: $teal;
            position: absolute;
            top: -22px;
            left: 10px;
            padding: 5px;
          }
          .wineServingSuggest {
            padding: 16px;
            // font-size: 1.8rem;
            margin: 0;
          }
        }

        ul {
          padding: 0;
          list-style-type: none;
          color: $grey;
          margin: 15px 0;
          li {
            font-size: 1.4rem;
            span {
              font-weight: bold;
            }
          }
        }
        .btn {
          margin-right: 20px;
          &:hover {
            color: $teal;
          }
        }
        .btnAlt {
          margin-top: 10px;
          background-color: transparent;
          border: 2px solid $grey;
          color: $grey;
          &:hover {
            background-color: $grey;
            color: $white;
          }
        }
      }
    }
  }
}

.storeInfo {
  p {
    margin: 0;
    font-size: 1.4rem;
    span {
      font-weight: bold;
    }
    a {
      color: $green;
      text-decoration: underline;
    }
  }
}

@media (max-width: 1080px) {
  // .wineInfo .wrapper .imageWrapper, .wineInfo .wrapper .content {
  //       width: 50%;
  // }
  // .wineInfo .wrapper .imageWrapper {
  // width: 50%;
  // }

  .wineInfo {
    margin-bottom: 50px;
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .wineInfo .wrapper .imageWrapper,
  .wineInfo .wrapper .content {
    width: 55%;
  }
  .wineInfo .wrapper .imageWrapper {
    width: 45%;
  }

  .wineInfo {
    margin-bottom: 50px;
  }
  .wineInfo .wrapper .content .contentWrapper .wineServingSuggestBox {
    width: 350px;
  }

  .wineInfo .wrapper .content .contentWrapper .btn {
    margin-right: 10px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .wineInfo {
    float: none;
    margin-bottom: 50px;
    .wrapper {
      .imageWrapper {
        float: none;
        width: 50%;
        margin: 0 auto;
      }
      .content {
        float: none;
        width: 100%;
        margin: 0 auto;
        .contentWrapper {
          margin-top: 10px;
          text-align: center;
          h1 {
            font-family: "Lora", monospace;
            color: $grey;
            margin: 15px 0;
            text-align: center;
          }
          .priceWrapper {
            p {
              text-align: center;
            }
          }
          .wineDescription {
            text-align: center;
          }
          .wineServingSuggestBox {
            margin: 0 auto;
            width: 450px;
          }

          // .btn {
          //   margin-right: 20px;
          //   &:hover {
          //     color: $teal;
          //   }
          // }
          // .btnAlt {
          //   margin-top: 10px;
          //   background-color: transparent;
          //   border: 2px solid $grey;
          //   color: $grey;
          //   &:hover {
          //     background-color: $grey;
          //     color: $white;
          //   }
          // }
        }
      }
    }
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .wineInfo {
     header nav ul li i {
    color: $green;
  }
    .wrapper {
      .content {
        .contentWrapper {
          margin: 10px;
          h1 {
            font-size: 2.5rem;
          }
          .wineServingSuggestBox {
            margin: 0 auto;
            width: 290px;
          }
        }
      }
    }
  }
}
