@import url("https://fonts.googleapis.com/css?family=Lora:700|Oxygen:400,700");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201c \201d \2018 \2019; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
figure {
  margin: 0; }

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto; }

h1 {
  font-size: 4rem;
  font-family: "Oxygen", monospace; }

h2 {
  font-size: 5rem;
  font-family: "Lora", monospace;
  line-height: 1.2; }

h3 {
  font-size: 2rem;
  font-family: "Lora", monospace;
  line-height: 1.2; }

p {
  font-size: 1.6rem;
  font-family: "Oxygen", monospace;
  color: #4a4a4a; }

.btn {
  font-size: 1.4rem;
  font-family: "Oxygen", monospace;
  text-transform: uppercase; }

header h1 {
  float: left;
  color: #dd9afc; }

.hero {
  background-image: url(./assets/heroGirl.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }
  .hero .heroScreen {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3); }
    .hero .heroScreen .wrapper {
      height: 100vh; }

.heroContent {
  float: right;
  width: 50%;
  position: relative;
  margin-right: 0;
  top: 50%;
  right: -100px;
  transform: translateY(-50%); }

h2.heroHeading {
  color: #ffffff;
  margin: 15px 0; }

p.heroCopy {
  color: #ffffff; }

.btn {
  margin-top: 10px;
  padding: 15px 50px;
  background-color: #a1d1ce;
  border: 2px solid #a1d1ce;
  color: #ffffff;
  font-weight: 700; }
  .btn:hover {
    background-color: transparent;
    color: #ffffff; }

.formContainer {
  width: 100%; }

.form {
  width: 40%;
  float: left;
  background-color: purple; }

.formContainer .imageWrapper {
  width: 60%;
  float: left;
  border: yellow solid 3px;
  background-color: yellow; }
  .formContainer .imageWrapper img {
    object-fit: cover; }

.priceRangeSelect,
.slidecontainer {
  width: 100%;
  /* Width of the outside container */ }

.results {
  margin: 0px auto; }

.wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto; }

.card {
  float: left;
  width: calc(33% - 2%);
  margin: 1%;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.cardWrapper .imageWrapper {
  float: left;
  width: 40%; }

.card .imageWrapper img {
  display: block;
  width: 100%; }

.cardSide {
  float: left;
  width: calc(60% - 4%);
  margin: 2% 2%;
  height: 100%; }

.wineTitle h3 {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: calc((3 * 2rem) + 0.3rem);
  margin: 10px auto;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #383838; }

.winePrice {
  color: #383838;
  font-size: 1.8rem;
  margin: 0; }
  .winePrice span {
    font-size: 75%; }

.wineInfo {
  float: left;
  width: 100%;
  height: 90vh; }
  .wineInfo .wrapper {
    clear: both; }
    .wineInfo .wrapper .imageWrapper {
      float: left;
      width: 45%; }
      .wineInfo .wrapper .imageWrapper img {
        display: block;
        width: 98%; }
    .wineInfo .wrapper .content {
      float: left;
      width: 55%; }
      .wineInfo .wrapper .content .contentWrapper {
        margin-top: 50px; }
        .wineInfo .wrapper .content .contentWrapper h1 {
          font-family: "Lora", monospace;
          color: #4a4a4a;
          margin: 15px 0; }
        .wineInfo .wrapper .content .contentWrapper .priceWrapper p {
          font-size: 3rem;
          margin: 0; }
          .wineInfo .wrapper .content .contentWrapper .priceWrapper p span {
            font-size: 1.8rem; }
        .wineInfo .wrapper .content .contentWrapper p::first-letter {
          text-transform: uppercase; }
        .wineInfo .wrapper .content .contentWrapper .wineServingSuggestBox {
          border: #a1d1ce 2px solid;
          border-radius: 2px;
          position: relative;
          width: 450px; }
          .wineInfo .wrapper .content .contentWrapper .wineServingSuggestBox .wineServingSuggestTitle {
            font-size: 1rem;
            text-transform: uppercase;
            background-color: #fff;
            color: #a1d1ce;
            position: absolute;
            top: -22px;
            left: 10px;
            padding: 5px; }
          .wineInfo .wrapper .content .contentWrapper .wineServingSuggestBox .wineServingSuggest {
            padding: 16px;
            margin: 0; }
        .wineInfo .wrapper .content .contentWrapper ul {
          padding: 0;
          list-style-type: none;
          color: #4a4a4a;
          margin: 15px 0; }
          .wineInfo .wrapper .content .contentWrapper ul li {
            font-size: 1.4rem; }
            .wineInfo .wrapper .content .contentWrapper ul li span {
              font-weight: bold; }
        .wineInfo .wrapper .content .contentWrapper .btn {
          margin-right: 20px; }
          .wineInfo .wrapper .content .contentWrapper .btn:hover {
            color: #a1d1ce; }
        .wineInfo .wrapper .content .contentWrapper .btnAlt {
          background-color: transparent;
          padding: 15px 50px;
          border: 2px solid #4a4a4a;
          color: #4a4a4a;
          font-weight: 700; }
          .wineInfo .wrapper .content .contentWrapper .btnAlt:hover {
            background-color: #4a4a4a;
            color: #ffffff; }

footer {
  background-color: #4a4a4a;
  clear: both;
  height: 10vh; }

.socialIcons {
  font-size: 3rem;
  text-align: center;
  margin: 0 auto; }
  .socialIcons i {
    padding: 10px 20px;
    color: #dd9afc;
    transition: transform 1s; }
    .socialIcons i:hover {
      transform: scale(1.2); }
