@import url("https://fonts.googleapis.com/css?family=Lora:700|Oxygen:400,700");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201c \201d \2018 \2019; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
figure {
  margin: 0; }

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

img {
  display: block;
  width: 100%; }

.wrapper {
  max-width: 1080px;
  margin: 0 auto; }

.btn {
  margin-top: 10px;
  width: 180px;
  padding: 15px 0px;
  background-color: #a1d1ce;
  border: 2px solid #a1d1ce;
  border-radius: 2px;
  color: #ffffff;
  font-weight: 700;
  transition: transform 0.5s; }
  .btn:hover {
    background-color: transparent;
    color: #a1d1ce; }

.smallBtn {
  transition: transform 0.5s;
  font-weight: 700;
  border-radius: 2px;
  margin-top: 20px;
  padding: 10px;
  width: 125px; }

.deleteBtn {
  margin: 0;
  background-color: transparent;
  border: 2px solid #4a4a4a;
  color: #4a4a4a;
  transition: transform 0.5s;
  font-weight: 700;
  border-radius: 2px;
  margin-top: 10px;
  padding: 10px;
  width: 125px; }
  .deleteBtn:hover {
    background-color: #4a4a4a;
    color: #ffffff; }

.cellarBtn {
  margin: 0;
  background-color: #a1d1ce;
  border: 2px solid #a1d1ce;
  color: #ffffff;
  transition: transform 0.5s;
  font-weight: 700;
  border-radius: 2px;
  padding: 10px;
  width: 125px; }
  .cellarBtn:hover {
    background-color: transparent;
    color: #a1d1ce; }

@media (max-width: 1080px) {
  .wrapper {
    max-width: 930px;
    margin: 0 auto; } }

@media (max-width: 940px) {
  .wrapper {
    max-width: 758px;
    margin: 0 auto; } }

@media (max-width: 768px) {
  .wrapper {
    max-width: 470px;
    margin: 0 auto; } }

@media (max-width: 480px) {
  .wrapper {
    max-width: 450px;
    margin: 0 auto; } }

@media (max-width: 350px) {
  .wrapper {
    max-width: 300px;
    margin: 0 auto; } }

h1 {
  font-size: 4rem;
  font-family: "Oxygen", monospace; }

h2 {
  font-size: 5rem;
  font-family: "Lora", monospace;
  line-height: 1.2; }

h3 {
  font-size: 2rem;
  font-family: "Lora", monospace;
  line-height: 1.1; }

p {
  font-size: 1.6rem;
  font-family: "Oxygen", monospace;
  color: #4a4a4a; }

.btn {
  font-size: 1.4rem;
  font-family: "Oxygen", monospace;
  text-transform: uppercase; }

.smallBtn, .smallBtn, .deleteBtn, .cellarBtn {
  font-size: 1.2rem;
  font-family: "Oxygen", monospace;
  text-transform: uppercase; }

.filters li {
  font-size: 1.6rem;
  font-family: "Oxygen", monospace; }

a {
  text-decoration: none; }

nav li p {
  font-size: 1.6rem;
  font-family: "Oxygen", monospace;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: white; }

header {
  float: left;
  width: 100%;
  padding-top: 15px; }
  header h1 {
    float: left;
    color: #dd9afc;
    margin: 0; }
  header nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
    header nav ul .loggedIn li,
    header nav ul .loggedOut li {
      float: right;
      text-align: right;
      padding: 10px 10px 0 10px;
      margin: 10px 10px 0 10px; }
      header nav ul .loggedIn li i,
      header nav ul .loggedOut li i {
        display: none; }
      header nav ul .loggedIn li p,
      header nav ul .loggedOut li p {
        color: #ffffff;
        margin: 0;
        transition: transform 0.5s; }
        header nav ul .loggedIn li p:hover,
        header nav ul .loggedOut li p:hover {
          transform: scale(1.2); }

.hero {
  background-image: url(./assets/heroGirl.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100vh; }
  .hero .heroScreen {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3); }
    .hero .heroScreen .wrapper {
      height: 100vh; }
      .hero .heroScreen .wrapper .heroContent {
        float: right;
        width: 45%;
        position: relative;
        margin-right: 0;
        top: 50%;
        right: 0px;
        transform: translateY(-50%); }
        .hero .heroScreen .wrapper .heroContent h2.heroHeading {
          color: #ffffff;
          margin: 15px 0; }
        .hero .heroScreen .wrapper .heroContent p.heroCopy {
          color: #ffffff; }

/* Portrait tablet and small desktops */
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  header {
    padding-top: 15px; }
    header nav {
      padding-top: 0px; }
  .hero .heroScreen {
    background-color: rgba(0, 0, 0, 0.5); }
    .hero .heroScreen .wrapper .heroContent {
      clear: both;
      float: none;
      width: 100%;
      margin: 0 auto;
      text-align: center; }
      .hero .heroScreen .wrapper .heroContent h2.heroHeading {
        text-align: center; }
      .hero .heroScreen .wrapper .heroContent p.heroCopy {
        text-align: center; }
      .hero .heroScreen .wrapper .heroContent .btn {
        margin: 0 auto; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  header h1 {
    padding-left: 15px; }
  header nav ul .loggedIn li,
  header nav ul .loggedOut li {
    transition: transform 0.5s; }
    header nav ul .loggedIn li:hover,
    header nav ul .loggedOut li:hover {
      transform: scale(1.2); }
    header nav ul .loggedIn li i,
    header nav ul .loggedOut li i {
      display: inline;
      color: #ffffff;
      font-size: 2.5rem; }
  header nav ul .loggedIn p,
  header nav ul .loggedOut p {
    display: none;
    margin: 0; }
  .hero .heroScreen .wrapper {
    width: 300px; }
    .hero .heroScreen .wrapper .heroContent h2.heroHeading {
      font-size: 3.5rem; }
    .hero .heroScreen .wrapper .heroContent p.heroCopy {
      text-align: center; }
    .hero .heroScreen .wrapper .heroContent .btn {
      margin: 0 auto; } }

.formContainer {
  width: 100%; }
  .formContainer .form {
    width: 40%;
    height: 300px;
    float: left;
    background-color: lightgrey; }
    .formContainer .form .formWrapper {
      width: 360px;
      float: right;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
      .formContainer .form .formWrapper form .filters {
        width: 360px; }
        .formContainer .form .formWrapper form .filters fieldset {
          border: none;
          padding: 0;
          margin-bottom: 10px; }
          .formContainer .form .formWrapper form .filters fieldset h3 {
            margin: 0 0 15px 0;
            color: #4a4a4a; }
          .formContainer .form .formWrapper form .filters fieldset ul {
            list-style-type: none;
            padding: 0;
            margin-bottom: 15px; }
            .formContainer .form .formWrapper form .filters fieldset ul li {
              display: inline;
              margin-right: 20px; }
              .formContainer .form .formWrapper form .filters fieldset ul li .radio {
                color: #4a4a4a;
                position: relative; }
                .formContainer .form .formWrapper form .filters fieldset ul li .radio span {
                  position: relative;
                  padding: 5px 0 0 30px; }
                .formContainer .form .formWrapper form .filters fieldset ul li .radio span:after {
                  content: "";
                  width: 20px;
                  height: 20px;
                  border: 3px solid;
                  position: absolute;
                  left: 0;
                  top: 1px;
                  border-radius: 100%; }
                .formContainer .form .formWrapper form .filters fieldset ul li .radio input[type="radio"] {
                  cursor: pointer;
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  z-index: 1;
                  opacity: 0; }
      .formContainer .form .formWrapper .filterBtn {
        margin-top: 10px;
        background-color: #4a4a4a;
        border: 2px solid #4a4a4a;
        color: #ffffff; }
        .formContainer .form .formWrapper .filterBtn:hover {
          background-color: transparent;
          color: #4a4a4a; }
  .formContainer .formQuote {
    width: 60%;
    float: right;
    height: 300px;
    background-color: #4a4a4a; }
    .formContainer .formQuote .formQuoteScreen {
      height: 300px; }
      .formContainer .formQuote .formQuoteScreen .quote {
        max-width: 720px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2.8rem;
        padding: 100px;
        color: #dd9afc; }

.radio input[type="radio"]:checked + span {
  color: #4a4a4a; }

.radio input[type="radio"]:checked + span:before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  background: #0b664c;
  left: 7px;
  top: 8px;
  border-radius: 100%; }

@media (max-width: 1080px) {
  .formContainer .form,
  .formContainer .formQuote {
    width: 50%; }
  .formContainer .form .formWrapper {
    max-width: 540px; } }

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .formContainer .formQuote {
    display: none; }
  .formContainer .form {
    width: 100%; }
  .formContainer .form .formWrapper {
    max-width: 80%;
    width: 80%;
    float: none;
    margin: 0 auto;
    text-align: center; }
    .formContainer .form .formWrapper form {
      text-align: center;
      margin: 0 auto; }
      .formContainer .form .formWrapper form .filters {
        text-align: center;
        margin: 0 auto; }
        .formContainer .form .formWrapper form .filters fieldset {
          text-align: center; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  .formContainer .form .formWrapper {
    width: 310px;
    float: none;
    margin: 0 auto;
    text-align: center; }
    .formContainer .form .formWrapper form {
      text-align: center;
      margin: 0 auto; }
      .formContainer .form .formWrapper form .filters {
        width: 250px;
        text-align: center;
        margin: 0 auto; }
        .formContainer .form .formWrapper form .filters fieldset {
          text-align: center; }
          .formContainer .form .formWrapper form .filters fieldset h3 {
            margin: 0 0 15px 0;
            color: #4a4a4a; }
          .formContainer .form .formWrapper form .filters fieldset ul li {
            margin-right: 15px; }
            .formContainer .form .formWrapper form .filters fieldset ul li .radio {
              color: #4a4a4a;
              position: relative; }
              .formContainer .form .formWrapper form .filters fieldset ul li .radio span {
                position: relative;
                padding: 2px 0 0 18px; }
              .formContainer .form .formWrapper form .filters fieldset ul li .radio span:after {
                content: "";
                width: 15px;
                height: 15px;
                border: 3px solid;
                position: absolute;
                left: 0;
                top: 1px;
                border-radius: 100%; }
  .radio input[type="radio"]:checked + span:before {
    content: "";
    width: 11px;
    height: 11px;
    position: absolute;
    background: #0b664c;
    left: 5px;
    top: 6px;
    border-radius: 100%; } }

.results,
.savedList {
  margin: 0 auto;
  padding: 40px;
  clear: both;
  min-height: calc(100vh - 110px);
  text-align: center; }
  .results .btn,
  .savedList .btn {
    margin: 50px 0; }
  .results .wrapper .sale,
  .savedList .wrapper .sale {
    position: absolute;
    background-color: #dd9afc;
    color: white;
    text-transform: uppercase;
    border-radius: 50%;
    font-size: 12px;
    padding: 13px 7px;
    top: -20px;
    left: -10px; }
  .results .wrapper .card,
  .savedList .wrapper .card {
    float: left;
    width: calc(33% - 2%);
    margin: 1%;
    border: #4a4a4a solid 1px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .results .wrapper .card:hover,
    .savedList .wrapper .card:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .results .wrapper .card .cardWrapper,
    .savedList .wrapper .card .cardWrapper {
      text-align: left;
      position: relative; }
      .results .wrapper .card .cardWrapper .imageWrapper,
      .savedList .wrapper .card .cardWrapper .imageWrapper {
        float: left;
        width: 45%; }
      .results .wrapper .card .cardWrapper .btn,
      .savedList .wrapper .card .cardWrapper .btn {
        margin: 20px 0; }
      .results .wrapper .card .cardWrapper .cardSide,
      .savedList .wrapper .card .cardWrapper .cardSide {
        float: left;
        width: calc(55% - 4%);
        height: 100%;
        padding: 0 0 0 8px; }
        .results .wrapper .card .cardWrapper .cardSide .wineTitle h3,
        .savedList .wrapper .card .cardWrapper .cardSide .wineTitle h3 {
          display: block;
          max-width: 100%;
          height: calc((3 * 2rem) + 0.8rem);
          margin: 10px auto;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden;
          color: #4a4a4a; }
        .results .wrapper .card .cardWrapper .cardSide .winePriceWrapper .winePrice,
        .savedList .wrapper .card .cardWrapper .cardSide .winePriceWrapper .winePrice {
          color: #4a4a4a;
          font-size: 1.8rem;
          margin: 0; }
          .results .wrapper .card .cardWrapper .cardSide .winePriceWrapper .winePrice span,
          .savedList .wrapper .card .cardWrapper .cardSide .winePriceWrapper .winePrice span {
            font-size: 70%; }

.savedList .savedListBtns {
  position: absolute;
  bottom: 10px; }

.savedList header nav ul li p {
  color: #0b664c; }

.cellarBtn {
  margin-top: 5px;
  padding: 8px; }

.myCellar {
  color: #4a4a4a; }

@media (max-width: 1080px) {
  .results .wrapper .card {
    width: calc(50% - 2%);
    margin: 1%; }
  .savedList .wrapper .card {
    width: calc(50% - 2%);
    margin: 1%; }
  .results .wrapper .card .cardWrapper .cardSide .wineTitle h3 {
    font-size: 2.5rem;
    height: calc((4 * 2.5rem) + 1.1rem);
    -webkit-line-clamp: 4; }
  .savedList .wrapper .card .cardWrapper .cardSide .wineTitle h3 {
    font-size: 2.5rem;
    height: calc((4 * 2.5rem) + 1rem);
    -webkit-line-clamp: 4; }
  .savedList .savedListBtns {
    bottom: 22px; } }

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .results .wrapper .card .cardWrapper .cardSide .wineTitle h3 {
    font-size: 2.3rem;
    height: calc((3 * 2.3rem) + 1.1rem);
    -webkit-line-clamp: 3; }
  .savedList .wrapper .card .cardWrapper .cardSide .wineTitle h3 {
    font-size: 2.3rem;
    height: calc((3 * 2.3rem) + 0.9rem);
    -webkit-line-clamp: 3; } }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .results .wrapper {
    margin: 0 auto; }
    .results .wrapper .card {
      float: none;
      width: 400px;
      max-width: 400px;
      margin: 20px auto; }
  .savedList .wrapper {
    margin: 0 auto; }
    .savedList .wrapper .card {
      float: none;
      width: 400px;
      max-width: 400px;
      margin: 20px auto; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  .results {
    padding: 0; }
  .savedList {
    padding: 0; }
  .results .wrapper .card {
    width: 295px;
    max-width: 400px; }
  .savedList .wrapper .card {
    width: 295px;
    max-width: 400px; }
  .results .wrapper .card .cardWrapper .cardSide .wineTitle h3 {
    font-size: 2rem;
    height: calc((3 * 2rem) + 1.1rem);
    -webkit-line-clamp: 3; }
  .savedList .wrapper .card .cardWrapper .cardSide .wineTitle h3 {
    font-size: 1.8rem;
    height: calc((3 * 1.8rem) + 0.5rem);
    -webkit-line-clamp: 3; }
  .savedList .savedListBtns {
    bottom: 12px; } }

.wineInfo {
  float: left;
  min-height: calc(100vh - 110px);
  width: 100%;
  padding: 50px 0; }
  .wineInfo header nav ul li p {
    color: #0b664c; }
  .wineInfo .wrapper {
    clear: both; }
    .wineInfo .wrapper .imageWrapper {
      float: left;
      width: 40%; }
      .wineInfo .wrapper .imageWrapper img {
        display: block;
        width: 98%; }
    .wineInfo .wrapper .content {
      float: left;
      width: 60%; }
      .wineInfo .wrapper .content .contentWrapper {
        margin-top: 50px; }
        .wineInfo .wrapper .content .contentWrapper h1 {
          font-family: "Lora", monospace;
          color: #4a4a4a;
          margin: 15px 0; }
        .wineInfo .wrapper .content .contentWrapper .priceWrapper p {
          font-size: 3rem;
          margin: 0; }
          .wineInfo .wrapper .content .contentWrapper .priceWrapper p .regular {
            margin-right: 25px;
            text-decoration: line-through;
            color: #dd9afc; }
          .wineInfo .wrapper .content .contentWrapper .priceWrapper p .sale {
            color: #4a4a4a; }
          .wineInfo .wrapper .content .contentWrapper .priceWrapper p .bottle {
            font-size: 1.8rem; }
        .wineInfo .wrapper .content .contentWrapper p::first-letter {
          text-transform: uppercase; }
        .wineInfo .wrapper .content .contentWrapper .wineServingSuggestBox {
          border: #a1d1ce 2px solid;
          border-radius: 2px;
          position: relative;
          width: 450px; }
          .wineInfo .wrapper .content .contentWrapper .wineServingSuggestBox .wineServingSuggestTitle {
            font-size: 1rem;
            text-transform: uppercase;
            background-color: #fff;
            color: #a1d1ce;
            position: absolute;
            top: -22px;
            left: 10px;
            padding: 5px; }
          .wineInfo .wrapper .content .contentWrapper .wineServingSuggestBox .wineServingSuggest {
            padding: 16px;
            margin: 0; }
        .wineInfo .wrapper .content .contentWrapper ul {
          padding: 0;
          list-style-type: none;
          color: #4a4a4a;
          margin: 15px 0; }
          .wineInfo .wrapper .content .contentWrapper ul li {
            font-size: 1.4rem; }
            .wineInfo .wrapper .content .contentWrapper ul li span {
              font-weight: bold; }
        .wineInfo .wrapper .content .contentWrapper .btn {
          margin-right: 20px; }
          .wineInfo .wrapper .content .contentWrapper .btn:hover {
            color: #a1d1ce; }
        .wineInfo .wrapper .content .contentWrapper .btnAlt {
          margin-top: 10px;
          background-color: transparent;
          border: 2px solid #4a4a4a;
          color: #4a4a4a; }
          .wineInfo .wrapper .content .contentWrapper .btnAlt:hover {
            background-color: #4a4a4a;
            color: #ffffff; }

.storeInfo p {
  margin: 0;
  font-size: 1.4rem; }
  .storeInfo p span {
    font-weight: bold; }
  .storeInfo p a {
    color: #0b664c;
    text-decoration: underline; }

@media (max-width: 1080px) {
  .wineInfo {
    margin-bottom: 50px; } }

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .wineInfo .wrapper .imageWrapper, .wineInfo .wrapper .content {
    width: 55%; }
  .wineInfo .wrapper .imageWrapper {
    width: 45%; }
  .wineInfo {
    margin-bottom: 50px; }
  .wineInfo .wrapper .content .contentWrapper .wineServingSuggestBox {
    width: 350px; }
  .wineInfo .wrapper .content .contentWrapper .btn {
    margin-right: 10px; } }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .wineInfo {
    float: none;
    margin-bottom: 50px; }
    .wineInfo .wrapper .imageWrapper {
      float: none;
      width: 50%;
      margin: 0 auto; }
    .wineInfo .wrapper .content {
      float: none;
      width: 100%;
      margin: 0 auto; }
      .wineInfo .wrapper .content .contentWrapper {
        margin-top: 10px;
        text-align: center; }
        .wineInfo .wrapper .content .contentWrapper h1 {
          font-family: "Lora", monospace;
          color: #4a4a4a;
          margin: 15px 0;
          text-align: center; }
        .wineInfo .wrapper .content .contentWrapper .priceWrapper p {
          text-align: center; }
        .wineInfo .wrapper .content .contentWrapper .wineDescription {
          text-align: center; }
        .wineInfo .wrapper .content .contentWrapper .wineServingSuggestBox {
          margin: 0 auto;
          width: 450px; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  .wineInfo .wrapper .content .contentWrapper {
    margin: 10px; }
    .wineInfo .wrapper .content .contentWrapper h1 {
      font-size: 2.5rem; }
    .wineInfo .wrapper .content .contentWrapper .wineServingSuggestBox {
      margin: 0 auto;
      width: 290px; } }

footer {
  background-color: #4a4a4a;
  padding: 10px 0px;
  clear: both;
  height: 110px; }
  footer .socialIcons {
    font-size: 3rem;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px; }
    footer .socialIcons i {
      padding: 10px 10px;
      color: #dd9afc;
      transition: transform 0.5s; }
      footer .socialIcons i:hover {
        transform: scale(1.2); }
  footer .createdBy p {
    text-align: center;
    color: #ffffff;
    padding-bottom: 10px;
    margin: 0;
    text-transform: uppercase;
    font-size: 1rem; }

/* Landscape phones and down */
@media (max-width: 480px) {
  footer p {
    font-size: 1.2rem; } }
